@charset "utf-8";

/* 基礎のスタイル */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700|Noto+Serif+JP:400,500,600,700|Roboto:400,400i,500,500i,700,700i&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
    @include transition-all;
}

* a {
    text-decoration: none !important;
    color: unset;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1.0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.container {
    width: 1110px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.effect {
    overflow: hidden;
}

.effect img {
    @include transition(transform, .5s, ease);
}

.background-zoom:hover img {
    transform: scale(1.05);
}

.pc, .tb, .sp {
    display: none;
}

@media screen and (min-width: 1025px) {
    .pc {
        display: block;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .tb {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .sp {
        display: block;
    }
}
