@charset "utf-8";

/* 共通のスタイル */

.page-wrapper {
	max-width: 100%;
	overflow: hidden;
}

.background-cover {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.btn {
	display: inline-block;
	width: 300px;
	max-width: 100%;
	line-height: 55px;
	background-color: #052265;
	color: #fff;
	position: relative;
	@include transition-all;

	&:before {
	    content: '';
	    display: block;
	    position: absolute;
	    left: 0;
	    top: 0;
	    background-color: #fff;
	    width: 0;
	    height: 100%;
	    opacity: .5;
	    @include transition-all;
	}

	&:hover:before {
	    width: 100%;
	}

	&:hover {}

	> span {
		position: relative;
		z-index: 1;
	}
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

.vertical-writing {
	writing-mode: vertical-rl;
}

.section:not(.section--hero) {
	padding-top: 100px;
	letter-spacing: 0.1em;
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1080px) {
	.section:not(.section--hero) {
	    padding-left: 2vw;
	    padding-right: 2vw;
	}
}

@media (max-width: 768px) {
	.section:not(.section--hero) {
		padding-top: 10vw;
	    padding-left: 5.33vw;
	    padding-right: 5.33vw;
	}
}

.with-top-margin {
	margin-top: calc(60px + 6em);
}

.section.section--hero {
    overflow: hidden;
	position: relative;
}

.hero-item {
    height: 100vh;
    position: relative;
	overflow: hidden;

	.hero-img {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 100%;
		width: 100%;
		@extend .background-cover;
		@include transform(translate(-50%, -50%) scale(1.15));
		@include transition( all, 6s, linear );
	}

	&.slick-current.slick-active {
		.hero-img {
			@include animation(scale 7s linear);
			@keyframes scale {
				0%   { @include transform(translate(-50%, -50%) scale(1)); }
				100% { @include transform(translate(-50%, -50%) scale(1.15)); }
			}
		}
	}
}

@keyframes scale-animation {
	from { @include transform(scale(0)); }
	to { @include transform(scale(1)); }
}

@keyframes scale-y-animation {
	0% { @include transform(scaleY(0)); }
	100% { @include transform(scaleY(1)); }
}

@keyframes scale-x-animation {
	0% { @include transform(scaleX(0)); }
	100% { @include transform(scaleX(1)); }
}

.hero-title {
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
	top: 0;
	bottom: 0;
    z-index: 1;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;

	h1 {
		cursor: default;
		pointer-events: none;
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%, -50%));

		.main-title {
			display: block;
			font-size: 60px;
			@media only screen and (max-width: 768px) {
				font-size: 12vw;
				white-space: nowrap;
			}
			text-align: center;
			letter-spacing: 0.05em;
			@include transform-origin(center);
			@include animation(scale-animation 1s linear);
		}

		.sub-title {
			display: block;
			margin-top: 1.2em;
			font-size: 18px;
			@media only screen and (max-width: 768px) {
				font-size: 4.8vw;
			}
			font-weight: 500;
			letter-spacing: 0.15em;
			@include transform(scale(0));
			@include transform-origin(bottom);
			@include animation(scale-y-animation 0.5s linear 1s forwards);
		}
	}

	.services {
// 		font-size: 14px;
		line-height: 2;
		position: absolute;
		bottom: 4em;
		@media only screen and (max-width: 768px) {
			bottom: 26.6vw;
		}
		left: 50%;
		@include transform(translateX(-50%));

		.service1,
		.service2,
		.service3 {
			display: block;
			letter-spacing: 0.15em;
			font-size: 14px;
			@media only screen and (max-width: 768px) {
				font-size: 3.73vw;
			}
			@include transform(scaleX(0));
			@include transform-origin(left);
		}

		.service1 {
			@include animation(scale-x-animation 0.3s linear 1.2s forwards);
		}

		.service2 {
			@include animation(scale-x-animation 0.3s linear 1.4s forwards);
		}

		.service3 {
			@include animation(scale-x-animation 0.3s linear 1.6s forwards);
		}
	}

	.follow-me {
		position: absolute;
		left: 2em;
		bottom: 3em;
		width: 1.5em;
		display: block;
		@include transform(scaleY(0));
		@include animation(scale-y-animation 0.7s ease 1.1s forwards);
		@include transform-origin(bottom);
		cursor: pointer;
		@media only screen and (max-width: 768px) {
			left: 3.5vw;
			bottom: 8vw;
			width: 3.5vw;
		}
	}

	.scroll {
		position: absolute;
		right: 4em;
		top: 50%;
		@include transform(translateY(-50%));
		width: 1em;
		@include transform(scaleY(0));
		@include animation(scale-y-animation 0.7s ease 1.1s forwards);
		@include transform-origin(top);
		cursor: default;
		@media only screen and (max-width: 768px) {
			right: 3.2vw;
			width: 2.8vw;
		}
	}

	&:before {
		content: "";
		position: absolute;
		left: 5.5em;
        top: 3em;
        bottom: 3em;
        width: 1px;
        background-color: #FFFFFF;
        @media only screen and (max-width: 768px) {
			top: 26.6vw;
			left: 8.5vw;
			bottom: 8vw;
		}
	}
}

.view-more {
	font: 14px/1 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-weight: 700;
	margin-top: 3.5em;
	@media only screen and (max-width: 768px) {
		font-size: 3.73vw;
		margin-top: 2em;
	}

	.link {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			right: -1em;
			top: 50%;
			width: 4em;
			height: 0.4em;
			border-right: 1px solid $color-gray1;
			border-bottom: 1px solid $color-gray1;
			@include transform(skewX(45deg));
			@include transform(translate(100%, -50%) skewX(45deg));
			@include transition-all;
		}

		&:hover {
			opacity: 0.6;
			&:after {
				right: -3em;
			}
		}
	}
}

.section {
	&.section--concept {
		max-width: 1080px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 100px;
		@media only screen and (max-width: 768px) {
			padding-top: 8vw;
		}

		.section-title {
			margin-left: 100px;
			@media only screen and (max-width: 1080px) {
				margin-left: 5vw;
			}
			font: 14px/1.5 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
            margin-bottom: 40px;
            position: relative;
            @media only screen and (max-width: 768px) {
				margin-left: unset;
				font-size: 3.73vw;
				margin-bottom: 7vw;
            }
            &:after {
            	content: "";
            	position: absolute;
            	display: block;
            	left: 5em;
            	width: 3em;
            	top: 0.8em;
            	height: 1px;
            	background-color: $color-gray1;
            }
		}

		.section-content {
			position: relative;
			height: 320px;
			@media only screen and (max-width: 768px) {
				height: 170vw;
			}

			.section-content__heading {
				@extend .no-select;
                position: absolute;
                left: 160px;
				@media only screen and (max-width: 1080px) {
					left: 12vw;
				}
                top: 0;
                color: $color-gray1;
                height: 100%;
                @media only screen and (max-width: 768px) {
                	left: 10vw;
                	height: 50%;
                }
                z-index: 1;
                @include display-flex;
                @include align-items-center;

                .title {
                    h2 {
						@extend .vertical-writing;
                        font: 44px "Noto Serif JP";
                        @media only screen and (max-width: 768px) {
							font-size: 12vw;
						}
                        font-weight: 700;
                        text-align: center;
                        position: relative;
                        top: 0.4em;
                    }
                }

                .content {
                	margin-left: 60px;
                	mark {
                        font: 15px/3 "Noto Serif JP";
                        @media only screen and (max-width: 768px) {
							font-size: 3.2vw;
							line-height: 2.5;
						}
                        font-weight: 600;
                        background-color: white;
                        letter-spacing: 0.1em;
                	}
                }
			}

			.section-content__image {
				height: 100%;
				width: 500px;
				position: absolute;
				right: 0;
				top: 0;
				@media only screen and (max-width: 768px) {
					left: 0;
					right: -5.33vw;
					height: 50%;
					top: 50%;
					width: unset;
				}
				@include display-flex;
				@include justify-content-center;
				@include align-items-center;
			}
		}
	}

	&.section--service {
		max-width: 1080px;
		margin-left: auto;
		margin-right: auto;
		
		.section-title {
			margin-bottom: 60px;

            h2 {
            	position: relative;
            	text-align: center;
            	font: 13px / 1.5 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
		        @media only screen and (max-width: 768px) {
		        	font-size: 2.66vw;
                }

                span {
                	display: block;
                    font: 51px / 1.5 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
                    @media only screen and (max-width: 768px) {
						font-size: 10.66vw;
					}
                    letter-spacing: 0.1em;
                    margin-top: 0.4em;
                    position: relative;
//                     background: center -7em center url(../img/header-decorator.png) no-repeat, center 7em center url(../img/header-decorator.png) no-repeat;
                    background: url(../img/header-decorator-right.png) no-repeat, url(../img/header-decorator-left.png) no-repeat;
                    background-position: calc(50% + 4em) 50%, calc(50% - 4em) 50%;
                    @media only screen and (max-width: 768px) {
						background-position: calc(50% + 3.3em) 50%, calc(50% - 3.3em) 50%;
					}
                }

                &:after {
                	content: "";
                	position: absolute;
                	display: block;
                	left: 50%;
                	top: 2.5em;
                	width: 50px;
                	height: 1px;
                	background: #000;
                	transform: translateX(-50%);
                }
            }
		}
        .section-content {
        	.service {
				.header {
					height: 350px;
					@include display-flex;
					@include align-items-center;
					@media only screen and (max-width: 768px) {
						height: 136vw;
						@include flex-direction-column;
					}

					.header__image {
						height: 100%;
						width: 650px;
						@include display-flex;
						@include justify-content-center;
						@include align-items-center;
						.img {
							width: 100%;
						}
						@media only screen and (max-width: 768px) {
							margin-left: -5.33vw;
							width: unset;
							height: 50vw;
						}
					}

					.header__text {
						margin-left: 4vw;
						@media only screen and (max-width: 768px) {
							margin-left: unset;
							width: 80vw;
							margin-top: 5vw;
						}
						@include flex(1 1 auto);
						.title {
							@include display-flex;
							@include justify-content-space-between;
							padding-right: 100px;
							@media only screen and (max-width: 1080px) {
								padding-right: 5vw;
							}
							@media only screen and (max-width: 768px) {
								padding-right: unset;
							}

							.title__panel {
								position: relative;

								.text-circle {
									position: relative;
									transform: translateX(45px);
									height: 90px;
									left: -1.5em;
									.char {
										font: 14px monospace;
										height: 40px;
										position: absolute;
										width: 8px;
										@media only screen and (max-width: 768px) {
											font-size: 2vw;
											width: 1vw;
											height: 6vw;
										}
										left: 0;
										top: 0;
										transform-origin: bottom center;

										&.char--1 {
										transform: rotate(-45deg);
										}
										&.char--2 {
											transform: rotate(-30deg);
										}
										&.char--3 {
											transform: rotate(-15deg);
										}
										&.char--4 {
											transform: rotate(0deg);
										}
										&.char--5 {
											transform: rotate(15deg);
										}
										&.char--6 {
											transform: rotate(30deg);
										}
										&.char--7 {
											transform: rotate(45deg);
										}
									}
									.service-index {
										font: 60px / 1 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
										@media only screen and (max-width: 768px) {
											font-size: 8vw;
										}
										position: absolute;
										top: 40px;
										left: -0.4em;
									}
									&:after {
										content: "";
										position: absolute;
										display: block;
										width: 1em;
										top: 33px;
										left: 0.3em;
										height: 1px;
										background-color: $color-gray1;
										@include transform(translateX(-50%));
									}
								}
								
								h3 {
									margin-top: 1em;
									font: 36px / 1.2 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
									@media only screen and (max-width: 768px) {
										margin-top: unset;
										font-size: 9.6vw;
									}
									margin-bottom: 0.4em;
									position: relative;

									&:after {
										content: "";
										position: absolute;
										display: block;
										width: 52px;
										bottom: -0.3em;
										height: 1px;
										left: 0;
										background-color: $color-gray1;
									}
								}

								.service-name {
									@extend .vertical-writing;
									font: 13px "Noto Serif JP";
									letter-spacing: 0.3em;
// 									position: absolute;
									top: 1em ;
// 									right: 100px;
									@media only screen and (max-width: 768px) {
										font-size: 3.2vw;
										right: 1em;
									}
								}
							}
						}

						.description {
							p {
								font: 12px/2 "Noto Serif JP";
								@media only screen and (max-width: 768px) {
									font-size: 3.2vw;
								}
								margin-top: 2em;
							}
						}

						.view-more {
							margin-top: 2em;
						}
					}
				}

				.contents {
					margin-top: 80px;
					position: relative;
					margin-bottom: 60px;

					&:before, &:after {
						content: "";
						display: block;
						position: absolute;
						background-color: #FAF7F2;
						z-index: -1;
					}

					&:before {
						left: 0px;
						top: -80px;
						width: 300px;
						height: 250px;
					}

					&:after {
						right: 180px;
						top: 70px;
						width: 280px;
						height: 280px;
					}

					.row {
						padding-left: 100px;
						padding-right: 100px;
						@media only screen and (max-width: 1080px) {
							padding-left: 5vw;
							padding-right: 5vw;
						}

						.gallery-wrapper {
							position: relative;
							height: 300px;

							.service-header {
								h3 {
									@extend .vertical-writing;
									font: 13px / 1.6 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
									span {
										@extend .vertical-writing;
										font: 36px / 1.5 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
										display: block;
									}
								}
							}

							.gallery {
								position: absolute;

								&.gallery--01 {
									left: 15%;
									top: 0;
									height: 90%;
									width: 25%;
								}

								&.gallery--02 {
									left: 50%;
									top: 50%;
									height: 50%;
									width: 15%;
								}

								&.gallery--03 {
									right: 0;
									top: 0;
									height: 66%;
									width: 22.5%;
								}

								&.gallery--04 {
									right: 0;
									top: 7%;
									height: 84%;
									width: 30%;
								}

								&.gallery--05 {
									left: 30%;
									top: 30%;
									height: 70%;
									width: 24%;
								}

								&.gallery--06 {
									left: 0;
									top: 10%;
									height: 53%;
									width: 16%;
								}
							}
						}

						&:nth-of-type(2) {
							.gallery-wrapper {
								&:before, &:after {
									content: "";
									display: block;
									position: absolute;
									background-color: #FAF7F2;
									z-index: -1;
								}

								&:before {
									left: 7.5%;
									top: -2%;
									width: 32%;
									height: 93%;
								}
		
								&:after {
									right: -100px;
									bottom: 0;
									width: calc(100px + 12%);
									height: 83%;

									@media only screen and (max-width: 1080px) {
										right: -5vw;
										width: calc(5vw + 12%);
									}
								}
							}
						}
					}
				}

				@media only screen and (max-width: 768px) {
					.contents {
						margin-top: 10vw;
						position: relative;
						margin-bottom: 10vw;
						margin-left: -5.33vw;
						margin-right: -5.33vw;
						height: 210vw;

						&:before, &:after {
							content: "";
							display: block;
							position: absolute;
							background-color: #FAF7F2;
							z-index: -1;
						}

						&:before {
							right: 0;
							top: 0;
							width: 20vw;
							height: 46vw;
							left: auto;
						}

						&:after {
							left: 0;
							right: unset;
							top: 13.3vw;
							width: 50vw;
							height: 50vw;
						}

						.row {
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
							padding-left: unset;
							padding-right: unset;

							.gallery-wrapper {
								position: absolute;
								height: 100%;
								width: 100%;

								.service-header {
									h3 {
										@extend .vertical-writing;
										font: 2.66vw / 1.6 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
										span {
											@extend .vertical-writing;
											font: 10vw / 1.5 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
											display: block;
										}
									    position: absolute;
									    left: 10vw;
									    top: 20vw;
									}
								}

								.gallery {
									position: absolute;

									&.gallery--01 {
										right: 5vw;
										left: auto;
										top: 2.4vw;
										height: 51vw;
										width: 51vw;
									}

									&.gallery--02 {
										left: 20vw;
										top: 56.4vw;
										height: 40vw;
										width: 40vw;
									}

									&.gallery--03 {
										right: 5vw;
										top: 95vw;
										height: 29.3vw;
										width: 29.3vw;
									}

									&.gallery--04 {
										right: unset;
										left: 0;
										top: 110vw;
										height: 52vw;
										width: 52vw;
									}

									&.gallery--05 {
										left: unset;
										right: 1vw;
										top: 150vw;
										height: 42.4vw;
										width: 42.4vw;
									}

									&.gallery--06 {
										left: 10vw;
										top: 175vw;
										height: 29.3vw;
										width: 26.6vw;
									}
								}
							}

							&:nth-of-type(2) {
								.gallery-wrapper {
									&:before, &:after {
										content: "";
										display: block;
										position: absolute;
										background-color: #FAF7F2;
										z-index: -1;
									}

									&:before {
										left: 13.3vw;
										top: 90vw;
										width: 58vw;
										height: 56vw;
									}

									&:after {
										right: 10vw;
										bottom: 0;
										width: 56vw;
										height: 42.6vw;
									}
								}
							}
						}
					}
				}

				&.service--flower-arrangement {
        			.header {
        				.header__text {
							.title {
								.title__panel.title__panel--right:after {
									display: none;
								}
							}
						}
					}
        		}

        		&.service--bridal-flower {
					padding-top: 50px;
					padding-bottom: 50px;
					position: relative;
					@media only screen and (max-width: 768px) {
						padding-top: 8.4vw;
						padding-bottom: 8.4vw;
					}
					
        			.header {
        				@media only screen and (max-width: 768px) {
        					@include flex-direction-column-reverse;
        					height: 116vw;
        				}
						.header__text {
							margin-right: 45px;
							margin-left: unset;
							@media only screen and (max-width: 768px) {
								margin-right: unset;
							}

							.title {
								padding-left: 100px;
                                padding-right: unset;
								@media only screen and (max-width: 1080px) {
									padding-left: 5vw;
								}
                                @media only screen and (max-width: 768px) {
								    @include flex-direction-row-reverse;
								    padding-left: unset;
								}
								.title__panel.title__panel--left {
// 									margin-right: 60px;
									@media only screen and (max-width: 768px) {
										margin-right: unset;
									}
								}
								.title__panel.title__panel--left:after {
									display: none;
								}

								.service-name {
// 									right: 100px;
                                    margin-right: 2em;
									@media only screen and (max-width: 768px) {
										left: unset;
										margin-right: unset;
									}
// 									right: 1em;
								}
							}
						}

						.header__image {
							@media only screen and (max-width: 768px) {
								margin-left: unset;
								margin-right: -5.33vw;
								width: unset;
								height: 50vw;
							}
						}
					}

					&:after {
						content: "";
						position: absolute;
						top: 0;
						bottom: 0;
						left: calc(50% - 50vw);
						right: calc(50% - 50vw);
						background-color: #FAF7F2;
						z-index: -2;
					}
        		}
        	}
        }
	}

	&.section--news {
		max-width: 1080px;
		margin-left: auto;
		margin-right: auto;
		@include display-flex;
		@include justify-content-space-between;

		.section-title {
			h2 {
				@extend .vertical-writing;
				position: relative;
				letter-spacing: 0.1em;
				font: 13px / 1.5 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
				@media only screen and (max-width: 768px) {
					font-size: 2.66vw;
				}

			    span {
			    	display: block;
                    font: 51px / 1.5 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
                    margin-right: 0.5em;
                    @media only screen and (max-width: 768px) {
						font-size: 10.66vw;
						line-height: 1;
						margin-right: 0.2em;
					}
			    }

			    &:after {
			    	content: "";
			    	display: block;
			    	position: absolute;
			    	right: 2.7em;
			    	@media only screen and (max-width: 768px) {
			    		right: 1.8em;
			    	}
			    	top: 0;
			    	height: 50px;
			    	width: 1px;
			    	background-color: $color-gray1;
			    }
			}
		}

		.section-content {
			padding-left: 80px;
			overflow: hidden;
			@media only screen and (max-width: 768px) {
				padding-left: 8vw;
			}
            @include flex(1 1 auto);

			.news {
				.news-list {
					.item {
						font: 12px/3 "Noto Serif JP";
						padding: .5em 1em;
						border-top: 1px solid $color-gray1;
						@include display-flex;
						@media only screen and (max-width: 768px) {
							font-size: 3.2vw;
							@include flex-direction-column;
						}

						&:last-of-type {
							border-bottom: 1px solid $color-gray1;
						}

						.datetime {
							font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
							line-height: 3;
							@include flex(0 0 5em);
							padding-right: 2em;
							border-right: 1px solid $color-gray1;
							@media only screen and (max-width: 768px) {
								line-height: 2;
								border-right: unset;
								padding-right: unset;
								@include flex(none);
								padding-bottom: 3vw;
								position: relative;
								&:after {
									content: "";
                                    position: absolute;
                                    display: block;
                                    bottom: 1.5vw;
                                    left: 0;
                                    width: 3em;
                                    height: 1px;
                                    background-color: $color-gray1;
								}
							}
						}

						.news-title {
							@include flex(1 1 auto);
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							padding-left: 2em;
							@media only screen and (max-width: 768px) {
								font-size: 3.73vw;
								line-height: 1.5;
								padding-left: unset;
								white-space: normal;
								text-overflow: unset;
							}
						}
					}
				}

				.view-more {
					text-align: right;
					
					.link {
						position: relative;
						left: -7.5em;
					}

					@media only screen and (max-width: 768px) {
						text-align: left;
						.link {
							left: unset;
						}
					}
				}
			}
		}
	}

	&.section--menus {
		max-width: 1080px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 100px;
		@media only screen and (max-width: 768px) {
			padding-bottom: 10vw;
		}

		.section-content {
			.menus {
				.row {
					height: 250px;
					@media only screen and (max-width: 768px) {
						height: calc(37.3vw + 14vw);
					}
					@include display-flex;

					.menu-item {
						position: relative;
						height: 100%;
						@media only screen and (max-width: 768px) {
							height: 37.3vw;
							overflow: visible;
						}
						@extend .effect;
						@extend .background-zoom;
						
						@include flex(1 1 auto);

						&:after {
							content: "";
                            position: absolute;
                            display: block;
                            left: 10px;
                            top: 10px;
                            right: 10px;
                            bottom: 10px;
                            @media only screen and (max-width: 768px) {
                            	left: 1.3vw;
								top: 1.3vw;
								right: 1.3vw;
								bottom: 1.3vw;
                            }
                            border: 1px solid white;
						}

						.menu-link {
                            position: absolute;
                            display: block;
// 							background: #333;
// 							opacity: 0.3;
							z-index: 3;
							@include transition-all;
							left: 0;
							top: 0;
							right: 0;
							bottom: 0;

							&:after {
								content: "";
								position: absolute;
								display: block;
								@include transition-all;
								background: #333;
    							opacity: 0.3;
							}
						}

						.img {
							width: 100%;
						}
						position: relative;

						&.menu-item--frame-flower-art {
							@media only screen and (max-width: 768px) {
								background: center url(../img/frame-flower-art.png)
							}
							.menu-link:after {
								left: 0;
								right: 0;
								top: 0;
								height: 0;
							}
							&:hover .menu-link:after {
								height: 100%;
							}
							.img {
								@include transform(translateY(-24%));
								@media only screen and (max-width: 768px) {
									display: none;
								}
							}
						}

						&.menu-item--lesson {
							@media only screen and (max-width: 768px) {
								background: center url(../img/lesson.jpeg)
							}
							.menu-link:after {
								left: 0;
								top: 0;
								bottom: 0;
								width: 0;
							}
							&:hover .menu-link:after {
								width: 100%;
							}
							.img {
								@include transform(translateY(-3%));
								@media only screen and (max-width: 768px) {
									display: none;
								}
							}
						}

						&.menu-item--workshop {
							@media only screen and (max-width: 768px) {
								background: center url(../img/workshop.jpeg)
							}
							.menu-link:after {
								right: 0;
								top: 0;
								bottom: 0;
								width: 0;
							}
							&:hover .menu-link:after {
								width: 100%;
							}
							.img {
								@include transform(translateY(-24%));
								@media only screen and (max-width: 768px) {
									display: none;
								}
							}
						}

						&.menu-item--dried-flower-kit {
							@media only screen and (max-width: 768px) {
								background: center url(../img/dried-flower-kit.jpeg)
							}
							.menu-link:after {
								left: 0;
								right: 0;
								bottom: 0;
								height: 0;
							}
							&:hover .menu-link:after {
								height: 100%;
							}
							.img {
								@include transform(translateY(-50%));
								@media only screen and (max-width: 768px) {
									display: none;
								}
							}
						}

						+ .menu-item {
							margin-left: 20px;
						}

						.menu {
							@extend .no-select;
							position: absolute;
							left: 50%;
							top: 50%;
							@include transform(translate(-50%, -50%));
							color: white;
							text-align: center;

							.menu__title-en {
								font: 40px / 1.2 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
								@media only screen and (max-width: 768px) {
									font-size: 8vw;
								}
								white-space: nowrap;
							}

							.menu__title-jp {
								font: 14px / 1.7 "Noto Serif JP";
								padding-bottom: 2em;
								position: relative;
								@media only screen and (max-width: 768px) {
									font-size: 3vw;
								}

								&:after {
									content: "";
                                    position: absolute;
                                    display: block;
                                    bottom: 1.2em;
                                    left: 50%;
                                    height: 1px;
                                    width: 3em;
                                    background-color: white;
                                    @include transform(translateX(-50%));
								}

								@media only screen and (max-width: 768px) {
									padding-top: 2em;
									padding-bottom: unset;

									&:after {
										content: "";
										position: absolute;
										display: block;
										top: 1em;
										left: 50%;
										height: 1px;
										width: 3em;
										background-color: white;
										@include transform(translateX(-50%));
									}
								}
							}

							.menu__description {
								font: 13px / 1.7 "Noto Serif JP";
								@media only screen and (max-width: 768px) {
									display: none;
								}
							}
						}

						.menu-description-sp {
							display: none;
							@media only screen and (max-width: 768px) {
								@include display-flex;
								@include align-items-center;
								@include justify-content-center;
								position: absolute;
							    top: 37.3vw;
							    height: 14vw;
							    left: 0;
							    right: 0;
							    background-color: #999999;

							    p {
									font: 2.66vw / 1.7 "Noto Serif JP";
									text-align: center;
									color: white;
							    }
							}
						}
					}

					+ .row {
						margin-top: 20px;
					}
				}
			}
		}
	}

	&.section--access {
		height: 450px;
		padding-top: 100px;
		padding-bottom: 100px;
		max-width: 1080px;
		margin-left: auto;
		margin-right: auto;
		@include display-flex;
		@include align-items-center;
		position: relative;
		@media only screen and (max-width: 768px) {
			height: auto;
			padding-top: 10vw;
			padding-bottom: 10vw;
			@include flex-direction-column;
		}

		&:after {
            content: "";
            position: absolute;
            display: block;
            background: #FAF7F2;
            top: 0;
            height: 100%;
            left: calc(50% - 50vw);
            right: calc(50% - 50vw);
            z-index: -1;
		}

		.section-title {
			letter-spacing: 0.1em;
			@media only screen and (max-width: 768px) {
				text-align: center;
			}
			.shop-name {
				position: relative;
				font: 13px / 1.5 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
				@media only screen and (max-width: 768px) {
					font-size: 2.66vw;
				}

				span {
                    font: 60px / 1 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
                    @media only screen and (max-width: 768px) {
						font-size: 12vw;
					}
                    display: block;
                    padding-bottom: 0.5em;
                    @media only screen and (max-width: 768px) {
						padding-bottom: unset;
						padding-top: 0.5em;
                    }
				}

				&:after {
					content: "";
					position: absolute;
					display: block;
					bottom: 1.2em;
					left: 0;
					width: 50px;
					height: 1px;
					background-color: $color-gray1;

					@media only screen and (max-width: 768px) {
						width: 3em;
						left: 50%;
						@include transform(translateX(-50%));
						top: 2.8em;
						bottom: unset;
					}
				}
			}

			.shop-info {
                font: 14px / 1.7 "Noto Serif JP";
                @media only screen and (max-width: 768px) {
					font-size: 2.66vw;
				}
			}

			.view-more {
				@media only screen and (max-width: 768px) {
					position: relative;
					left: -3em;
				}
			}
		}

		.section-content {
			@include flex(1 1 auto);
			margin-left: 80px;
			background: center center url(../img/access.png) no-repeat;
			background-size: cover;
			height: 100%;
			@media only screen and (max-width: 768px) {
				@include flex(none);
				margin-left: -5.33vw;
				margin-right: -5.33vw;
				height: 40vw;
				width: 100vw;
				position: relative;
				top: 10vw;
			}
		}
	}

	&.section--page-title {
		height: 200px;
		padding-top: unset;
		@include display-flex;
		@include justify-content-center;
		@include align-items-center;

		h1 {
			text-align: center;
			font: 13px / 1 $font-baskerville;
			position: relative;
			span {
				display: block;
				font-size: 51px;
				line-height: 1;
				margin-top: 0.5em;
			}

			&:after {
                content: "";
                position: absolute;
                display: block;
                top: 2em;
                height: 1px;
                left: 50%;
                width: 4em;
                background-color: $color-gray1;
                @include transform(translateX(-50%));
			}

			@media only screen and (max-width: 768px) {
				font-size: 2.66vw;

				span {
					font-size: 10.33vw;
				}
			}
		}
	}

	&.section--policy {
		padding-top: unset;
		max-width: 1080px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 100px;
		@media only screen and (max-width: 768px) {
			padding-bottom: 16vw;
		}

		.section-title {
			h2 {
				font: 24px / 1.4 $font-serif;;
				font-weight: 700;
				text-align: center;
				margin-bottom: 1em;
			}

			.intro {
				font: 12px / 1.8 $font-sans;
				text-align: center;
			}

			@media only screen and (max-width: 768px) {
				h2 {
					font-size: 6.4vw;
				}

				.intro {
					font-size: 3.2vw;
					text-align: left;
				}
			}
		}

		.section-content {
			padding-left: 100px;
			padding-right: 100px;
			@media only screen and (max-width: 1080px) {
				padding-left: unset;
				padding-right: unset;
			}

			.policy-item {
				margin-top: 60px;
				@media only screen and (max-width: 1080px) {
					margin-top: 10vw;
				}
				
				> dt {
					h3 {
						font: 15px / 1 $font-serif;
						font-weight: 600;
						margin-bottom: 2em;
						position: relative;

						@media only screen and (max-width: 768px) {
							font-size: 4vw;
						}

						&:after {
                            content: "";
                            position: absolute;
                            display: block;
                            bottom: -1em;
                            left: 0;
                            width: 2.5em;
                            height: 1px;
                            background-color: $color-gray1;
						}
					}
				}

				> dd {
                    p {
                    	font: 12px / 1.8 $font-sans;
						@media only screen and (max-width: 768px) {
							font-size: 3.2vw;
						}

						.with-hyphen {
							padding-left: 2em;
							display: block;
							position: relative;

							&:before {
								content: "";
								position: absolute;
								left: 0.8em;
								height: 1px;
								top: 0.9em;
								width: 0.5em;
								background-color: $color-gray1;
							}
						}

						& + p {
							margin-top: 1em;
						}
                    }
				}
			}
		}
	}

	&.section--news-list {
		padding-top: unset;
		padding-bottom: 120px;
		@media only screen and (max-width: 768px) {
			padding-bottom: 16vw;
		}

		.section-content {
			.news-item {
				padding-top: 30px;
				padding-bottom: 30px;
				max-width: 800px;
				margin-left: auto;
				margin-right: auto;
				@media only screen and (max-width: 768px) {
					padding-top: 5.33vw;
					padding-bottom: 5.33vw;
				}
				border-top: 1px solid $color-gray1;
				&:last-of-type {
					border-bottom: 1px solid $color-gray1;
				}

				.news-item-wrapper {
					position: relative;
					margin-left: 60px;
					margin-right: 60px;
					height: 156px;
					@media only screen and (max-width: 768px) {
						margin-left: 5.33vw;
						margin-right: 5.33vw;
						height: unset;
					}

					.news-item__datetime {
                        font: 12px / 1 $font-serif;
                        @media only screen and (max-width: 768px) {
                        	font-size: 3.2vw;
                        }
                        font-weight: 700;
					}

					.news-item__title {
                        font: 15px / 1.6 $font-serif;
                        margin-top: 0.8em;
                        margin-bottom: 0.8em;
                        position: relative;
                        @media only screen and (max-width: 768px) {
                        	font-size: 3.73vw;
                        	position: relative;
                        	margin-top: 6.4vw;

                        	&:after {
								content: "";
								display: block;
								position: absolute;
								height: 1px;
								left: 0;
								top: -3.2vw;
								width: 2em;
								background-color: $color-gray1;
							}
                        }
					}

					.news-item__details {
                        font: 12px / 1.8 $font-sans;
                        @media only screen and (max-width: 768px) {
                        	font-size: 3.2vw;
                        }
                        overflow: hidden;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
// 						position:absolute;
					}

					.news-item__view-detail {
                        margin-top: unset;
						position: absolute;
						bottom: 0;
						left: 0;
						@media only screen and (max-width: 768px) {
                        	position: unset;
                        	margin-top: 1.2em;
                        }
					}

					.news-item__featured-image {
						float: right;
						height: 156px;
						width: 192px;
						margin-left: 30px;
						@media only screen and (max-width: 768px) {
							width: 25.6vw;
							height: 20.8vw;
						}

						.img {

						}
					}
				}
			}
		}
	}
}
