@charset "utf-8";

/* トップページのスタイル*/

.page-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    height: calc(60px + 6rem);
    @media only screen and (max-width: 768px) {
    	height: 14.6vw;
    }
    color: #fff;
    @include transition-all;

    &.header-sticky {
	    position: fixed;
	    background-color: #333;
	    opacity: 0.8;
	    box-shadow: 0 0 4px 1px rgba(0,0,0,0.1);
	    height: calc(60px + 2rem);
	    @media only screen and (max-width: 768px) {
	    	height: 14.6vw;
	    }
	}

	a {
	    color: white;
	}
}

.page-header:not(.header-sticky) a {
    color: inherit;
}

.logo {
    width: 60px;
    height: 60px;
    @media only screen and (max-width: 768px) {
    	height: 10vw;
    	width: 10vw;
    }
}

.page-header.header-sticky {
	.logo {
		img {
			filter: revert(1);
		}
	}
}

.header-inner {
    @include flex-center-v;
    @include justify-content(space-between);
    padding-left: 7em;
    height: 100%;
    font-family: "Noto Serif CJK JP";
    @media (max-width: 768px) {
		padding-left: 2vw;
	}
}

.page-footer {
	height: 240px;
	background: center url('../img/banner.jpeg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: white;

	.left-navi {
		position: absolute;
		left: 60px;
		bottom: 75px;
		.navi-list {
			span {
                display: block;
                font: 14px/2 "Baskerville";
			}
		}
	}

	.about {
		position: absolute;
		left: 50%;
		bottom: 30px;
        @include transform(translateX(-50%));
        text-align: center;

		.company {
			font: 12px / 1.5 "Baskerville";
			span {
                font: 42px / 1.2 "Baskerville";
                display: block;
			}
		}

		.link-buttons {
			@include display-flex;
			@include justify-content-center;
			@include align-items-center;
			margin-top: 1em;
			margin-bottom: 1em;

			.link-to-instagram {
				cursor: pointer;
				img {
					height: 1.2em;
				}
			}
			.link-to-contact {
				cursor: pointer;
				margin-left: 1em;
				img {
				    height: 1em;
				}
			}
		}

		.copyright {
            font: 11px / 1.75 Baskerville;
		}
	}

	.scroll-to-top {
		@extend .vertical-writing;
		font: 13px Baskerville;
		position: absolute;
		right: 60px;
		top: calc(50% + 2.5em);
		@include transform(translateY(-50%));
		cursor: pointer;
        
        &:before {
        	content: "";
        	display: block;
        	position: absolute;
        	height: 4em;
        	top: -5em;
        	width: 0.4em;
        	left: 50%;
        	@include transform(translateX(-50%) skewY(-45deg));
        	border-right: 1px solid white;
        	border-top: 1px solid white;
        	@include transition-all;
        }

        &:hover:before {
        	top: -6em;
        }
	}
}