@charset "utf-8";

/* トップページのスタイル*/

.page-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    height: calc(60px + 6rem);
    @media only screen and (max-width: 768px) {
    	height: 14.6vw;
    }
    color: #fff;
    @include transition-all;

    &.header-sticky {
	    position: fixed;
	    background-color: #333;
	    opacity: 0.8;
	    box-shadow: 0 0 4px 1px rgba(0,0,0,0.1);
	    height: calc(60px + 2rem);
	    @media only screen and (max-width: 768px) {
	    	height: 14.6vw;
	    }
	}

	a {
	    color: white;
	}
}

.page-header:not(.header-sticky) a {
    color: inherit;
}

.logo {
    width: 60px;
    height: 60px;
    @media only screen and (max-width: 768px) {
    	height: 10vw;
    	width: 10vw;
    }
}

.page-header.header-sticky {
	.logo {
		img {
			filter: revert(1);
		}
	}
}

.header-inner {
    @include flex-center-v;
    @include justify-content(space-between);
    padding-left: 7em;
    height: 100%;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    @media (max-width: 768px) {
		padding-left: 2vw;
	}
}

.page-footer {
	height: 240px;
	letter-spacing: 0.1em;
	background: url('../img/banner.jpeg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    color: white;
	@media only screen and (max-width: 768px) {
		height: 96vw;
		background-attachment: scroll;
	}

	.left-navi {
		position: absolute;
		left: 60px;
		bottom: 75px;
		@media only screen and (max-width: 768px) {
			left: 10vw;
			bottom: unset;
			top: 10vw;
		}
		.navi-list {
			span {
                display: block;
                font: 14px/2 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
                @media only screen and (max-width: 768px) {
					font-size: 3.73vw;
				}
			}
		}
	}

	.about {
		position: absolute;
		left: 50%;
		bottom: 30px;
        @include transform(translateX(-50%));
        text-align: center;
        @media only screen and (max-width: 768px) {
        	bottom: 10vw;
        }

		.company {
			font: 12px / 1.5 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
			@media only screen and (max-width: 768px) {
				font-size: 3.2vw;
			}
			span {
                font: 42px / 1.2 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
                display: block;
                @media only screen and (max-width: 768px) {
                	font-size: 11vw;
                }
			}
		}

		.link-buttons {
			@include display-flex;
			@include justify-content-center;
			@include align-items-center;
			margin-top: 1em;
			margin-bottom: 1em;
			@media only screen and (max-width: 768px) {
				font-size: 3.2vw;
				margin-top: 1.5em;
				margin-bottom: 1.5em;
			}

			.link-to-instagram {
				cursor: pointer;
				.img {
					height: 1.2em;
					vertical-align: middle;

					.cls-1 {
						stroke-width: 1px;
					}
				}
			}
			.link-to-contact {
				cursor: pointer;
				margin-left: 1em;
				.img {
				    height: 1em;
				    width: 2em;
				    vertical-align: middle;

				    .cls-1 {
						stroke-width: 2px;
					}
				}
			}
		}

		.copyright {
            font: 11px / 1.75 Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
            @media only screen and (max-width: 768px) {
				font-size: 3vw;
				white-space: nowrap;
			}
		}
	}

	.scroll-to-top {
		@extend .vertical-writing;
		font: italic 13px Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
		position: absolute;
		right: 60px;
		top: calc(50% + 2.5em);
		@include transform(translateY(-50%));
		cursor: pointer;
		@media only screen and (max-width: 768px) {
			right: 5.33vw;
			top: calc(10vw + 8em);
		}
        
        &:before {
        	content: "";
        	display: block;
        	position: absolute;
        	height: 4em;
        	top: -5em;
        	width: 0.4em;
        	left: 50%;
        	@include transform(translateX(-50%) skewY(-45deg));
        	border-right: 1px solid white;
        	border-top: 1px solid white;
        	@include transition-all;
        }

        &:hover:before {
        	top: -6em;
        }
	}
}